@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

#colors {
  .scheme() {
    color1: #19cbac;
    color2: #f1f16d;
    color3: #ff0000;
    color4: #8a8a8a;
  }
  .page() {
    background: #f1f1f1;
    text: #000000;
  }
  .header() {
    text: #ffffff;
  }
  .content() {
    background: #ffffff;
  }
}

#fontStyle() {
  header: 16pt "Roboto";
  basic: 11pt "Roboto";
  contentHeader: 25pt "Roboto";
  contentNav: 12pt "Roboto";
  contentHelp: 10pt "Roboto";
}