@import 'lib.less';

* { 
  min-height: 0; 
  outline: none;
}

body {
  background: #colors.page[background];
  font: #fontStyle[basic];
  margin: 0;
  grid-template-rows: 70px 1fr 70px;
  grid-gap: 30px;
  display: grid;
  height: 100vh;

  & > header {
    background-color: #colors.scheme[color1];
    font: #fontStyle[header];
    color: #colors.header[text];
    line-height: 70px;
    padding-left: 70px;

    nav {
      float: right;
      width: calc(100% - 300px);
      background: #colors.page[background];
      height: 68px;
      font: #fontStyle[basic];
      color: #colors.page[text];
      line-height: 70px;

      &::before {
        content: "";
        border: 34px solid transparent; 
        border-right: 34px solid #colors.page[background]; 
        border-bottom: 34px solid #colors.page[background];
        margin-left: -68px;
        float: left;
      }

      ul {
        margin: 20px 0px;
        list-style: none;

        li {
          cursor: pointer;
          float: left;
          margin-right: 70px;
          height: 30px;
          line-height: 30px;

          &:hover {
            color: #colors.scheme[color1];
          }

          &.current {
            background: #colors.scheme[color1];
            color: #colors.header[text];

            &::before {
              content: "";
              border: 15px solid transparent; 
              border-right: 15px solid #colors.scheme[color1]; 
              border-bottom: 15px solid #colors.scheme[color1];
              margin-left: -30px;
              float: left;
            }

            &::after {
              content: "";
              border: 15px solid #colors.scheme[color1]; 
              border-right: 15px solid transparent; 
              border-bottom: 15px solid transparent;
              margin-right: -30px;
              float: right;
            }
          }
        }
      }
    }
  }

  & > section#page {
    /*********RESIZABLE PAGE*********
    padding: 0px 70px;
    grid-template-columns: 1fr 300px;*/
    padding-left: calc(50% - 570px);
    grid-template-columns: 820px 300px;
    grid-gap: 20px;
    display: none;

    section.content {
      background: #colors.content[background];
      -webkit-box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
      display: grid;
      grid-template-rows: 80px 50px 1fr 80px;

      & > header {
        font: #fontStyle[contentHeader];
        line-height: 80px;
        padding: 0 40px;
      }

      nav {
        font: #fontStyle[contentNav];
        line-height: 50px;

        ul { 
          list-style: none;
          margin: 0;
          
          li {
            float: left;
            margin-right: 30px;
            cursor: default;
            position: relative;
            top: -3px;
            padding: 0 20px;
            color: #colors.scheme[color4];

            &.active {
              border-bottom: 4px solid #colors.scheme[color1];
              color: #colors.scheme[color1];
            }
          }
        }
      }

      & > section {
        overflow-y: scroll;
        padding: 30px 40px;
        @colorTemp: #colors.page[background];
        border-top: 1px solid darken(@colorTemp, 10%);
        border-bottom: 1px solid darken(@colorTemp, 10%);

        &.form {
          display: grid;
          grid-template: repeat(10, 30px) 70px repeat(2, 30px) 70px e('/') 260px 1fr 130px;
          grid-gap: 20px;
        }

        &.creditCard {
          display: none;
          grid-template: repeat(5, 30px) 70px repeat(2, 30px) 70px e('/') 260px 1fr 130px;
          grid-gap: 20px;

          #cardCVV {
            width: 50px;
          }
        }

        &.result {
          display: none;

          & > .table {
            border-radius: 10px;
            border: 1px solid #colors.scheme[color4];
            background: #colors.scheme[color4];

            header, section {
              display: grid;
              grid-template-columns: repeat(7, 1fr);
              grid-gap: 1px;

              label {
                background: #colors.content[background];
                padding: 10px 2px;
              }
            }

            header { 
              border-bottom: 1px solid #colors.scheme[color4];

              label { 
                font: #fontStyle[contentHelp]; 

                &:hover:not(:last-child) {
                  color: #colors.scheme[color1];
                }
              }

              label:nth-child(1) { border-top-left-radius: 10px; }
              label:nth-child(7) { border-top-right-radius: 10px; }
            }

            section {
              label:nth-last-child(7) { border-bottom-left-radius: 10px; }
              label:nth-last-child(1) { border-bottom-right-radius: 10px; }
            }
          }

          button {
            background: none;
            border: 0;
            color: #colors.scheme[color1];
            font: #fontStyle[basic];
            border-bottom: 1px solid #colors.scheme[color1];
            border-style: dashed;
            padding: 0;

            &:hover {
              border-style: solid;
            }

            &.creditCardInfo {
              text-transform: uppercase;
              font-weight: 700;
              margin: 20px 0;
            }
          }

          & > article#infoPanel {
            display: none;
            position: absolute;
            @colorTemp: #colors.scheme[color4];
            background: darken(@colorTemp, 20%);
            z-index: 2;
            width: 240px;
            height: 210px;
            padding: 10px;
            color: white;
            border-radius: 10px;

            &::before {
              content: "";
              border: 10px solid transparent;
              border-right: 30px solid darken(@colorTemp, 20%);
              width: 0;
              height: 0;
              left: -40px;
              top: 125px;
              position: absolute;
            }

            & > section {
              width: 100%;
              height: 100%;

              &#personalInfoPanel {
                display: block;
                overflow-y: scroll;
              }

              &#creditCardInfoPanel {
                display: none;
              }

              label.bold {
                color: darken(white, 20%);
              }
            }
          }
        }

        .required {
          grid-column: 1 e('/') 4;
          font: #fontStyle[contentHelp];
        }

        &.form > label, &.creditCard > label {
          font: #fontStyle[basic];
          line-height: 30px;
          position: relative;

          & > section {
            position: absolute;
            top: -15px;
            font: #fontStyle[contentHelp];
            color: #colors.scheme[color3];
            right: -145px;
            display: none;
          }
        }

        &.form > section.comment, &.creditCard > section.comment {
          font: #fontStyle[contentHelp];
          color: #colors.scheme[color4];
          font-style: italic;
          margin-top: 8px;

          & > a {
            color: #colors.scheme[color1];
          }
        }

        input, select {
          outline: none;

          &:last-child {
            height: 30px;
          }
        }

        textarea {
          resize: none;
          outline: none;
        }

        section.dropDown {
          position: relative;

          input[type=text] {
            width: 100%;
            box-sizing: border-box;
            padding-right: 25px;
            background: url('../imgs/down.png');
            background-repeat: no-repeat;
            background-position: right;
            background-size: 14px;
            height: 30px;
            cursor: default;
            border: 1px solid #767676;
            border-radius: 2px;
          }

          section {
            display: none;
            width: 100%;
            max-height: 150px;
            overflow-y: scroll;
            border: 1px solid #767676;
            border-radius: 2px;
            padding: 2px;
            box-sizing: border-box;
            position: absolute;
            z-index: 10;
            background: #ffffff;

            label {
              width: 100%;
              float: left;

              &:hover {
                background: #dedede;
              }
            }
          }
        }

        input[type=tel] {
          padding-left: 25px;
          background: url('../imgs/world-flag.png');
          background-repeat: no-repeat;
          background-position: 5px;
          background-size: 14px;
          border: 1px solid #767676;
          border-radius: 2px;
        }

        input[type=text].error, input[type=date].error, input[type=tel].error, input[type=password].error, textarea.error {
          @tempColor: #colors.scheme[color3];
          border: 1px solid @tempColor !important;
        }
      }

      footer {
        padding-right: 50%;

        button {
          margin-left: 20px;
          margin-top: 17px;
          float: right;
        }
      }
    }

    aside.chat {
      background: #colors.content[background];
      grid-template-rows: 50px 1fr 70px;
      display: grid;

      img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        float: left;
        @colorTemp: #colors.page[background];
        border: 1px solid darken(@colorTemp, 30%);
        margin-right: 10px;
      }

      header {
        line-height: 30px;
        padding: 10px;
        position: relative;

        #nameChat {
          float: left;
          margin-right: 5px;
        }

        .status {
          float: left;
          height: 8px;
          width: 8px;
          border-radius: 4px;
          background: #colors.scheme[color1];
          margin-top: 12px;
        }

        &::after {
          content: "";
          @colorTemp: #colors.content[background];
          background: linear-gradient(@colorTemp, transparent);
          height: 15px;
          width: 100%;
          position: absolute;
          top: 50px;
          left: 0;
        }
      }

      & > section {
        padding: 10px;
        box-sizing: border-box;
        @colorTemp: #colors.page[background];
        border-bottom: 1px solid darken(@colorTemp, 10%);
        overflow-y: scroll;
        display: inline-flex;
        flex-direction: column-reverse;

        .message {
          margin-bottom: 15px;
          display: table;
          width: 100%;

          section {
            width: 190px;
            float: right;
            border-radius: 15px;
            padding: 10px;
          }

          &:last-of-type{
            padding-top: 15px;
            display: table;
          }
        }
        .operator > section { background: #colors.page[background]; }
        .user > section { 
          @colorTemp: #colors.scheme[color1];
          background: lighten(@colorTemp, 40%);
        }

        
      }

      footer {
        padding: 10px;

        textarea {
          outline: none;
          border: 0;
          resize: none;
          height: 100%;
          width: 230px;
        }

        button {
          width: 40px;
          height: 40px;
          background: #colors.scheme[color2];
          border: 0;
          border-radius: 20px;
          float: right;
          margin-top: 5px;
          background-image: url('../imgs/arrow-1.png') !important;
          background-repeat: no-repeat !important;
          background-position: center !important;
          outline: none;

          &:active {
            @colorTemp: #colors.scheme[color2];
            background: darken(@colorTemp, 10%);
            border: 1px solid darken(@colorTemp, 20%);;
          }
        }
      }
    }
  }

  & > section#registration {
    width: 500px;
    height: 340px;
    @media(min-height: 700px) { margin-top: 150px; }
    margin-left: calc(50% - 250px);
    background: #colors.content[background];
    -webkit-box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.75);
    padding: 50px;
    box-sizing: border-box;
    display: block;

    input[type=file] {
      padding: 10px;
      padding-left: 15px;
      position: relative;
      outline: none;
      font: #fontStyle[basic];
      box-sizing: border-box;
      width: calc(100% - 5px);

      &:before {
        font: #fontStyle[basic];
        text-decoration: underline;
        content: "Загрузить список";
        position: absolute;
        background: #colors.content[background];
        padding: 10px;
        top: 2px;
        left: -2px;
        color: #colors.scheme[color1];
        @colorTemp: #colors.page[background];
        border-right: 1px solid darken(@colorTemp, 20%);
      }
    }

    button {
      margin: 10px;
    }
  }

  & > footer {
    @colorTemp: #colors.page[background];
    border-top: 1px solid darken(@colorTemp, 20%);
    color: darken(@colorTemp, 30%);
    grid-template-columns: 190px 1fr 150px;
    display: grid;
    padding: 0px 70px;
    line-height: 69px;

    p { 
      margin: 0px; 

      &:last-of-type {
        text-align: right;
      }
    }

    ul {
      margin: 0px;
      list-style: none;

      li {
        cursor: pointer;
        float: left;
        margin: 0px;
        margin-left: 20px;

        &:hover {
          color: #colors.scheme[color1];
        }
      }
    }
  }

  button.submit {
    @tempColor1: #colors.scheme[color1];
    @tempColor2: darken(@tempColor1, 10%);
    @tempColor3: darken(@tempColor1, 20%);
    background: linear-gradient(@tempColor1, @tempColor2);
    padding: 10px 30px;
    border-radius: 3px;
    border: 0;
    border-bottom: 1px solid @tempColor3;
    font: #fontStyle[header];
    color: #colors.header[text];
    outline: none;
    cursor: pointer;

    &:hover {
      background: @tempColor1;
      border: 0;
    }

    &:active {
      background: linear-gradient(@tempColor3, @tempColor1);
      border: 0;
    }
  }

  button.back {
    background: url('../imgs/arrow-2.png');
    background-position: left;
    background-repeat: no-repeat;
    padding: 10px 5px 10px 20px;
    padding-left: 20px;
    border: 0;
    outline: none;
    text-decoration: underline;
    color: #colors.scheme[color1];
    font: #fontStyle[basic];
    line-height: 26px;
    cursor: pointer;

    &:hover {
      color: #colors.scheme[color3];
    }
  }

  form {
    display: none;
  }
}