@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  min-height: 0;
  outline: none;
}
body {
  background: #f1f1f1;
  font: 11pt "Roboto";
  margin: 0;
  grid-template-rows: 70px 1fr 70px;
  grid-gap: 30px;
  display: grid;
  height: 100vh;
}
body > header {
  background-color: #19cbac;
  font: 16pt "Roboto";
  color: #ffffff;
  line-height: 70px;
  padding-left: 70px;
}
body > header nav {
  float: right;
  width: calc(100% - 300px);
  background: #f1f1f1;
  height: 68px;
  font: 11pt "Roboto";
  color: #000000;
  line-height: 70px;
}
body > header nav::before {
  content: "";
  border: 34px solid transparent;
  border-right: 34px solid #f1f1f1;
  border-bottom: 34px solid #f1f1f1;
  margin-left: -68px;
  float: left;
}
body > header nav ul {
  margin: 20px 0px;
  list-style: none;
}
body > header nav ul li {
  cursor: pointer;
  float: left;
  margin-right: 70px;
  height: 30px;
  line-height: 30px;
}
body > header nav ul li:hover {
  color: #19cbac;
}
body > header nav ul li.current {
  background: #19cbac;
  color: #ffffff;
}
body > header nav ul li.current::before {
  content: "";
  border: 15px solid transparent;
  border-right: 15px solid #19cbac;
  border-bottom: 15px solid #19cbac;
  margin-left: -30px;
  float: left;
}
body > header nav ul li.current::after {
  content: "";
  border: 15px solid #19cbac;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  margin-right: -30px;
  float: right;
}
body > section#page {
  /*********RESIZABLE PAGE*********
    padding: 0px 70px;
    grid-template-columns: 1fr 300px;*/
  padding-left: calc(50% - 570px);
  grid-template-columns: 820px 300px;
  grid-gap: 20px;
  display: none;
}
body > section#page section.content {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 11px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px -7px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-rows: 80px 50px 1fr 80px;
}
body > section#page section.content > header {
  font: 25pt "Roboto";
  line-height: 80px;
  padding: 0 40px;
}
body > section#page section.content nav {
  font: 12pt "Roboto";
  line-height: 50px;
}
body > section#page section.content nav ul {
  list-style: none;
  margin: 0;
}
body > section#page section.content nav ul li {
  float: left;
  margin-right: 30px;
  cursor: default;
  position: relative;
  top: -3px;
  padding: 0 20px;
  color: #8a8a8a;
}
body > section#page section.content nav ul li.active {
  border-bottom: 4px solid #19cbac;
  color: #19cbac;
}
body > section#page section.content > section {
  overflow-y: scroll;
  padding: 30px 40px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
body > section#page section.content > section.form {
  display: grid;
  grid-template: repeat(10, 30px) 70px repeat(2, 30px) 70px / 260px 1fr 130px;
  grid-gap: 20px;
}
body > section#page section.content > section.creditCard {
  display: none;
  grid-template: repeat(5, 30px) 70px repeat(2, 30px) 70px / 260px 1fr 130px;
  grid-gap: 20px;
}
body > section#page section.content > section.creditCard #cardCVV {
  width: 50px;
}
body > section#page section.content > section.result {
  display: none;
}
body > section#page section.content > section.result > .table {
  border-radius: 10px;
  border: 1px solid #8a8a8a;
  background: #8a8a8a;
}
body > section#page section.content > section.result > .table header,
body > section#page section.content > section.result > .table section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
}
body > section#page section.content > section.result > .table header label,
body > section#page section.content > section.result > .table section label {
  background: #ffffff;
  padding: 10px 2px;
}
body > section#page section.content > section.result > .table header {
  border-bottom: 1px solid #8a8a8a;
}
body > section#page section.content > section.result > .table header label {
  font: 10pt "Roboto";
}
body > section#page section.content > section.result > .table header label:hover:not(:last-child) {
  color: #19cbac;
}
body > section#page section.content > section.result > .table header label:nth-child(1) {
  border-top-left-radius: 10px;
}
body > section#page section.content > section.result > .table header label:nth-child(7) {
  border-top-right-radius: 10px;
}
body > section#page section.content > section.result > .table section label:nth-last-child(7) {
  border-bottom-left-radius: 10px;
}
body > section#page section.content > section.result > .table section label:nth-last-child(1) {
  border-bottom-right-radius: 10px;
}
body > section#page section.content > section.result button {
  background: none;
  border: 0;
  color: #19cbac;
  font: 11pt "Roboto";
  border-bottom: 1px solid #19cbac;
  border-style: dashed;
  padding: 0;
}
body > section#page section.content > section.result button:hover {
  border-style: solid;
}
body > section#page section.content > section.result button.creditCardInfo {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0;
}
body > section#page section.content > section.result > article#infoPanel {
  display: none;
  position: absolute;
  background: #575757;
  z-index: 2;
  width: 240px;
  height: 210px;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
body > section#page section.content > section.result > article#infoPanel::before {
  content: "";
  border: 10px solid transparent;
  border-right: 30px solid #575757;
  width: 0;
  height: 0;
  left: -40px;
  top: 125px;
  position: absolute;
}
body > section#page section.content > section.result > article#infoPanel > section {
  width: 100%;
  height: 100%;
}
body > section#page section.content > section.result > article#infoPanel > section#personalInfoPanel {
  display: block;
  overflow-y: scroll;
}
body > section#page section.content > section.result > article#infoPanel > section#creditCardInfoPanel {
  display: none;
}
body > section#page section.content > section.result > article#infoPanel > section label.bold {
  color: #cccccc;
}
body > section#page section.content > section .required {
  grid-column: 1 / 4;
  font: 10pt "Roboto";
}
body > section#page section.content > section.form > label,
body > section#page section.content > section.creditCard > label {
  font: 11pt "Roboto";
  line-height: 30px;
  position: relative;
}
body > section#page section.content > section.form > label > section,
body > section#page section.content > section.creditCard > label > section {
  position: absolute;
  top: -15px;
  font: 10pt "Roboto";
  color: #ff0000;
  right: -145px;
  display: none;
}
body > section#page section.content > section.form > section.comment,
body > section#page section.content > section.creditCard > section.comment {
  font: 10pt "Roboto";
  color: #8a8a8a;
  font-style: italic;
  margin-top: 8px;
}
body > section#page section.content > section.form > section.comment > a,
body > section#page section.content > section.creditCard > section.comment > a {
  color: #19cbac;
}
body > section#page section.content > section input,
body > section#page section.content > section select {
  outline: none;
}
body > section#page section.content > section input:last-child,
body > section#page section.content > section select:last-child {
  height: 30px;
}
body > section#page section.content > section textarea {
  resize: none;
  outline: none;
}
body > section#page section.content > section section.dropDown {
  position: relative;
}
body > section#page section.content > section section.dropDown input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding-right: 25px;
  background: url('../imgs/down.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 14px;
  height: 30px;
  cursor: default;
  border: 1px solid #767676;
  border-radius: 2px;
}
body > section#page section.content > section section.dropDown section {
  display: none;
  width: 100%;
  max-height: 150px;
  overflow-y: scroll;
  border: 1px solid #767676;
  border-radius: 2px;
  padding: 2px;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  background: #ffffff;
}
body > section#page section.content > section section.dropDown section label {
  width: 100%;
  float: left;
}
body > section#page section.content > section section.dropDown section label:hover {
  background: #dedede;
}
body > section#page section.content > section input[type=tel] {
  padding-left: 25px;
  background: url('../imgs/world-flag.png');
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 14px;
  border: 1px solid #767676;
  border-radius: 2px;
}
body > section#page section.content > section input[type=text].error,
body > section#page section.content > section input[type=date].error,
body > section#page section.content > section input[type=tel].error,
body > section#page section.content > section input[type=password].error,
body > section#page section.content > section textarea.error {
  border: 1px solid #ff0000 !important;
}
body > section#page section.content footer {
  padding-right: 50%;
}
body > section#page section.content footer button {
  margin-left: 20px;
  margin-top: 17px;
  float: right;
}
body > section#page aside.chat {
  background: #ffffff;
  grid-template-rows: 50px 1fr 70px;
  display: grid;
}
body > section#page aside.chat img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  float: left;
  border: 1px solid #a4a4a4;
  margin-right: 10px;
}
body > section#page aside.chat header {
  line-height: 30px;
  padding: 10px;
  position: relative;
}
body > section#page aside.chat header #nameChat {
  float: left;
  margin-right: 5px;
}
body > section#page aside.chat header .status {
  float: left;
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background: #19cbac;
  margin-top: 12px;
}
body > section#page aside.chat header::after {
  content: "";
  background: linear-gradient(#ffffff, transparent);
  height: 15px;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
}
body > section#page aside.chat > section {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #d8d8d8;
  overflow-y: scroll;
  display: inline-flex;
  flex-direction: column-reverse;
}
body > section#page aside.chat > section .message {
  margin-bottom: 15px;
  display: table;
  width: 100%;
}
body > section#page aside.chat > section .message section {
  width: 190px;
  float: right;
  border-radius: 15px;
  padding: 10px;
}
body > section#page aside.chat > section .message:last-of-type {
  padding-top: 15px;
  display: table;
}
body > section#page aside.chat > section .operator > section {
  background: #f1f1f1;
}
body > section#page aside.chat > section .user > section {
  background: #baf6ec;
}
body > section#page aside.chat footer {
  padding: 10px;
}
body > section#page aside.chat footer textarea {
  outline: none;
  border: 0;
  resize: none;
  height: 100%;
  width: 230px;
}
body > section#page aside.chat footer button {
  width: 40px;
  height: 40px;
  background: #f1f16d;
  border: 0;
  border-radius: 20px;
  float: right;
  margin-top: 5px;
  background-image: url('../imgs/arrow-1.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  outline: none;
}
body > section#page aside.chat footer button:active {
  background: #eded3e;
  border: 1px solid #e2e216;
}
body > section#registration {
  width: 500px;
  height: 340px;
  margin-left: calc(50% - 250px);
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 11px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px -7px rgba(0, 0, 0, 0.75);
  padding: 50px;
  box-sizing: border-box;
  display: block;
}
@media (min-height: 700px) {
  body > section#registration {
    margin-top: 150px;
  }
}
body > section#registration input[type=file] {
  padding: 10px;
  padding-left: 15px;
  position: relative;
  outline: none;
  font: 11pt "Roboto";
  box-sizing: border-box;
  width: calc(100% - 5px);
}
body > section#registration input[type=file]:before {
  font: 11pt "Roboto";
  text-decoration: underline;
  content: "Загрузить список";
  position: absolute;
  background: #ffffff;
  padding: 10px;
  top: 2px;
  left: -2px;
  color: #19cbac;
  border-right: 1px solid #bebebe;
}
body > section#registration button {
  margin: 10px;
}
body > footer {
  border-top: 1px solid #bebebe;
  color: #a4a4a4;
  grid-template-columns: 190px 1fr 150px;
  display: grid;
  padding: 0px 70px;
  line-height: 69px;
}
body > footer p {
  margin: 0px;
}
body > footer p:last-of-type {
  text-align: right;
}
body > footer ul {
  margin: 0px;
  list-style: none;
}
body > footer ul li {
  cursor: pointer;
  float: left;
  margin: 0px;
  margin-left: 20px;
}
body > footer ul li:hover {
  color: #19cbac;
}
body button.submit {
  background: linear-gradient(#19cbac, #139e86);
  padding: 10px 30px;
  border-radius: 3px;
  border: 0;
  border-bottom: 1px solid #0e705f;
  font: 16pt "Roboto";
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
body button.submit:hover {
  background: #19cbac;
  border: 0;
}
body button.submit:active {
  background: linear-gradient(#0e705f, #19cbac);
  border: 0;
}
body button.back {
  background: url('../imgs/arrow-2.png');
  background-position: left;
  background-repeat: no-repeat;
  padding: 10px 5px 10px 20px;
  padding-left: 20px;
  border: 0;
  outline: none;
  text-decoration: underline;
  color: #19cbac;
  font: 11pt "Roboto";
  line-height: 26px;
  cursor: pointer;
}
body button.back:hover {
  color: #ff0000;
}
body form {
  display: none;
}
